<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de cursos</title>
</head>
<body>
<h1>Gestión de Carreras</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>NOMBRE</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="carrera : ${carreras}">
        <td th:text="${carrera.id}"></td>
        <td th:text="${carrera.nombre}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
