<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de cursos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Fira+Sans+Extra+Condensed:wght@400;500&family=Jost:wght@200;400;700;900&family=PT+Serif:wght@400;700&family=Quicksand:wght@300;500;700&family=Space+Grotesk:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<h1>Gestión de Estudiantes</h1>

<div class="ingresar">
    <form class="head" th:action="@{/estudiantes/crear}" method="post" th:object="${estudiante}">
        <label for="nombres">Nombre:</label>
        <input type="text" id="nombres" name="nombres" />

        <label for="apellidos">Apellido:</label>
        <input type="text" id="apellidos" name="apellidos" />

        <label for="dni">DNI:</label>
        <input type="text" id="dni" name="dni" />

        <label for="correo">Correo:</label>
        <input type="text" id="correo" name="correo" />

        <label for="carrera">Carrera:</label>
        <input type="text" id="carrera" name="carrera" />

        <br>
        <input class="btnGuardar" type="submit" value="Guardar">
    </form>
</div>

<!-- Mensaje de éxito -->
<div th:if="${exito}" class="mensajePositivo">
    <p>Se ha ingresado el estudiante correctamente.</p>
</div>

<!-- Mensaje de error -->
<div th:if="${error}" class="mensajeNegativo">
    <p>No se pudo ingresar el estudiante. Vuelve a intentarlo.</p>
</div>


<div class="tabla">
    <table>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>APELLIDOS</th>
            <th>DNI</th>
            <th>CORREO</th>
            <th>CARRERA</th>
        </tr>

        <!-- Aquí van las filas de la tabla con los estudiantes -->
        <tr th:each="estudiante : ${estudiantes}">
            <td th:text="${estudiante.id}"></td>
            <td th:text="${estudiante.nombres}"></td>
            <td th:text="${estudiante.apellidos}"></td>
            <td th:text="${estudiante.dni}"></td>
            <td th:text="${estudiante.correo}"></td>
            <td th:text="${estudiante.carrera.nombre}"></td>
            <td class="text-end">
                <div class="btn-group btn-group-sm">
                <a th:href="@{/estudiantes/editar/{id}(id=${estudiante.id})} " >
                    <i class="fa fa-edit"></i>
                </a>
                </div>
            </td>
            <td>
                <form th:action="@{/estudiantes/eliminar/{id}(id=${estudiante.id})}" method="post">
                    <input type="hidden" name="_method" value="delete" />
                    <button onclick="eliminar(this)" type="submit" class="btn btn-link" title="*">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </form>
            </td>
        </tr>

    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
        function eliminar(elemento)
        {
            var ok = confirm("¿Está seguro de eliminar el curso?");
            if(ok){
                elemento.nextElementSibling.submit();
            }
        }
    </script>
</body>
</html>
